<%- include('./Navbar'); %>


<div class="Post">
    <article>
        <h1>What is Blog Prototype?</h1>
        <p>Blog Prototype is a project that i made for my portfolio, it is a simple blog with a small backend capable of creating small articles with images, titles a content with author signature</p>
        <br>
        <h1>Can i use it?</h1>
        <p>Of course! Just change a few things and add your own style so it doesn't seems like it is entirely stolen, you can also scale it up and made something completely new, for example i made a news portal using this project as a base</p>
    </article>
</div>


<%- include('./footer') %>